<h1>Add Employer</h1>

<%= form_with url: company_employers_path, local: true do |f| %>
  <fieldset>

    <div class="mb-3">
      <%= f.label :name, class: "form-label" %>
      <%= f.text_field :name, name: "user[name]", class: "form-control", required: true, placeholder: "Enter employer's name" %>
    </div>

    <div class="mb-3">
      <%= f.label :email, class: "form-label" %>
      <%= f.email_field :email, name: "user[email]", class: "form-control", required: true, placeholder: "Enter employer's email" %>
    </div>

    <div class="mb-3">
      <%= f.label :contact_no, class: "form-label" %>
      <%= f.text_field :contact_no, name: "user[contact_no]", class: "form-control", placeholder: "Enter employer's contact number" %>
    </div>
  </fieldset>

  <%= f.submit 'Add Employer', class: "btn btn-primary" %>
<% end %>
