<%= form_with(model: @job, url: company_jobs_path, local: true) do |form| %>
  <h2>Create a New Job</h2>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control", required: true %>
  </div>

  <div class="form-group">
    <%= form.label :address %>
    <%= form.text_field :address, class: "form-control", required: true %>
  </div>

  <div class="form-group">
    <%= form.label :city %>
    <%= form.text_field :city, class: "form-control", required: true %>
  </div>

  <div class="form-group">
    <%= form.label :job_description, "Job Description" %>
    <%= form.text_area :job_description, class: "form-control", required: true %>
  </div>

  <div class="form-group">
    <%= form.label :responsibilities, "Responsibilities" %>
    <%= form.text_area :responsibilities, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :requirements, "Requirements" %>
    <%= form.text_area :requirements, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :experience, "Experience (in years)" %>
    <%= form.number_field :experience, class: "form-control", step: 1, min: 0 %>
  </div>

  <div class="form-group">
    <%= form.label :salary, "Salary" %>
    <%= form.number_field :salary, class: "form-control", step: 0.01, min: 0 %>
  </div>

  <div class="form-group">
    <%= form.label :qualification, "Qualification" %>
    <%= form.text_area :qualification, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :job_type, "Job Type" %>
    <%= form.select :job_type, Job.job_types.keys.map { |w| [w.humanize, w] }, class: "form-control" %>
  </div>

  <%= form.submit "Create Job", class: "btn btn-primary" %>
<% end %>
