<div class="container mt-5">
  <div class="text-center mb-5">
      <h2 class="display-4 text-primary">Welcome to Your Job Seeker Dashboard!</h2>
      <p class="lead">Discover exciting opportunities tailored to your skills and ambitions. Browse through the latest job postings and find your next career move.</p>
      <p class="text-muted">These are the most recent published jobs waiting for you to explore.</p>
  </div>
  <div class="row">
    <% @jobs.each do |job| %>
      <div class="col-md-4 mb-4">
        <div class="card shadow h-100" style="min-width: 18rem;">
          <div class="card-body">
            <h5 class="card-title text-dark font-weight-bold"><%= job.title %></h5>
            <p><strong>City:</strong> <%= job.city %></p>
            <p><strong>Job Type:</strong> <%= job.job_type %></p>
            <%= link_to 'View Details', job_seeker_job_path(job), class: 'btn btn-primary btn-sm mt-3' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="pagination mt-4">
    <%= paginate @jobs %>
  </div>
</div>
