<div class="container mt-5">
  <h2 class="text-center text-primary">Apply for <%= @job.title %></h2>
  <hr>

<%= form_with(model: @job_application, url: submit_application_job_seeker_job_path(@job), local: true, html: { enctype: 'multipart/form-data' }) do |f| %>
    <div class="form-group">
      <%= f.label :total_experience, "Total Experience (years)" %>
      <%= f.number_field :total_experience, class: 'form-control', step: 0.1, required: true %>
    </div>

    <div class="form-group">
      <%= f.label :last_organization, "Last Organization" %>
      <%= f.text_field :last_organization, class: 'form-control', required: true %>
    </div>

    <div class="form-group">
      <%= f.label :latest_degree, "Latest Degree" %>
      <%= f.text_field :latest_degree, class: 'form-control', required: true %>
    </div>

    <div class="form-group">
      <%= f.label :is_education_completed, "Is your education completed?" %>
      <div class="form-check">
        <%= f.radio_button :is_education_completed, true, class: 'form-check-input' %>
        <%= f.label :is_education_completed, "Yes", value: true, class: 'form-check-label' %>
      </div>
      <div class="form-check">
        <%= f.radio_button :is_education_completed, false, class: 'form-check-input' %>
        <%= f.label :is_education_completed, "No", value: false, class: 'form-check-label' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :graduated_year, "Year of Graduation" %>
      <%= f.number_field :graduated_year, class: 'form-control', required: true %>
    </div>

    <div class="form-group">
      <%= f.label :cv, "Upload Your CV" %>
      <%= f.file_field :cv, class: 'form-control-file', required: true %>
    </div>

    <div class="text-center">
      <%= f.submit "Submit Application", class: "btn btn-primary btn-lg mt-3" %>
    </div>
  <% end %>
</div>
