<h1>Edit Job</h1>

<%= form_with(model: @job, url: company_job_path(@job), local: true) do |form| %>
  <% if @job.errors.any? %>
    <div class="alert alert-danger">
      <h4>There were some errors with your submission:</h4>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :address %>
    <%= form.text_field :address, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :city %>
    <%= form.text_field :city, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :job_description %>
    <%= form.text_area :job_description, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :responsibilities %>
    <%= form.text_area :responsibilities, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :requirements %>
    <%= form.text_area :requirements, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :experience %>
    <%= form.number_field :experience, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :salary %>
    <%= form.number_field :salary, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :qualification %>
    <%= form.text_field :qualification, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :job_type %>
    <%= form.select :job_type, Job.job_types.keys.map { |key| [key.humanize, key] }, {}, class: 'form-control' %>
  </div>

  <%= form.submit 'Update Job', class: 'btn btn-primary' %>
<% end %>

<%= link_to 'Back to Job Details', company_job_path(@job), class: 'btn btn-secondary' %>
<%= link_to 'Back to Drafts', drafts_company_jobs_path, class: 'btn btn-secondary' %>
