<h1>Manage Jobs</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <th>City</th>
      <th>Job Type</th>
      <th>Salary</th>
      <th>Edit</th>
      <th>Delete</th>
      <th>View Job</th>
      <th>View Applications</th>
    </tr>
  </thead>
  <tbody>
    <% @active_jobs.each do |job| %>
      <tr>
        <td><%= job.title %></td>
        <td><%= job.city %></td>
        <td><%= job.job_type.capitalize %></td>
        <td><%= number_to_currency(job.salary, unit: 'PKR ') %></td>
        <td>
          <%= link_to 'Edit', edit_company_job_path(job), class: 'btn btn-primary btn-sm' %>
        </td>
        <td>
          <%= button_to 'Delete', company_job_path(job), 
                        method: :delete, 
                        data: { confirm: 'Are you sure?' }, 
                        class: 'btn btn-danger btn-sm' %>
        </td>
        <td>
          <%= link_to 'View Job', company_job_path(job), class: 'btn btn-info btn-sm' %>
        </td>
        <td>
           <%= link_to 'View Applications', show_applications_company_job_path(job), 
                    class: 'btn btn-warning btn-sm'
                    %>
        </td>

        <td>
          <%= button_to 'Close Job', close_company_job_path(job), 
                        method: :patch, 
                        data: { confirm: 'Are you sure you want to close this job?' }, 
                        class: 'btn btn-secondary btn-sm' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
