<div class="company-details">
  <h3>Company Details</h3>
  <%= f.fields_for :company do |c| %>
    <div class="form-group">
      <%= c.label :name, 'Company Name' %>
      <%= c.text_field :name, required: true, class: 'form-control', placeholder: "Enter company name" %>
    </div>

    <div class="form-group">
      <%= c.label :industry, 'Industry' %>
      <%= c.text_field :industry, required: true, class: 'form-control', placeholder: "e.g., IT, Healthcare" %>
    </div>

    <div class="form-group">
      <%= c.label :employee_size, 'Employee Size' %>
      <%= c.number_field :employee_size, required: true, class: 'form-control', placeholder: "Number of employees" %>
    </div>

    <div class="form-group">
      <%= c.label :address, 'Company Address' %>
      <%= c.text_field :address, required: true, class: 'form-control', placeholder: "Enter company address" %>
    </div>
  <% end %>
</div>
