<%= form_for @user, url: create_registration_path do |f| %>
  <h3>Personal Details</h3>
  <%= render 'users/registrations/personal_details', f: f %>

  <h3>Company Details</h3>
  <%= f.fields_for :company do |c| %>
    <div class="form-group">
      <%= c.label :name, 'Company Name' %>
      <%= c.text_field :name, required: true, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= c.label :industry, 'Industry' %>
      <%= c.text_field :industry, required: true, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= c.label :employee_size, 'Employee Size' %>
      <%= c.number_field :employee_size, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= c.label :address, 'Company Address' %>
      <%= c.text_field :address, class: 'form-control' %>
    </div>
  <% end %>

  <%= f.submit "Sign Up as Company Admin", class: 'btn btn-primary mt-3' %>
<% end %>
